<h1><%= link_to job.title, job %>
   <% if job.featured? %>
     <strong><%= '(Destaque)' %></strong>
   <% end %>
 </h1>
 <%= job.company.name %><br>
 <%= job.location %><br>
 <%= job.category.name %><br>
