<div>
  <dl>
    <dt><h1><%= @job.title %></h1></dt>
    <dd><%= @job.category.name %></dd>
    <dd><%= @job.company.name %></dd>
    <dd><%= @job.description %></dd>
    <dd><%= @job.location %></dd>
  </dl>
	<% if @job.featured? %>
		<strong><%= 'Destaque' %></strong>
	<% end %>
</div>
<div>
  <%= link_to 'Voltar', root_path, class: "btn btn-default" %>
</div>
