<section>
  <div>
    <%=@job.title%>
  </div>
  <div>
    <%=@job.category%>
  </div>
  <div>
    <%=@job.company%>
  </div>
  <div>
    <%=@job.description%>
  </div>
  <div>
    <%=@job.location%>
  </div>
  <div>
    <%= link_to 'Voltar', root_path%>
  </div>
</section
