<div>
  <dl>
    <dt><h1><%= @company.name %></h1></dt>
    <dd><%= @company.location %></dd>
  	<dd><%= @company.mail %></dd>
  	<dd><%= @company.phone %></dd>
  </dl>
</div>
<div>
	<%= render @jobs%>
</div>
<div>
  <br><%= link_to 'Voltar', root_path, class: "btn btn-default" %>
</div>
